{{#is 'post'}}
	<aside class='gh-article-sidebar'>

		<div class='gh-author-image-list'>
			<a
				class='gh-author-image'
				href='https://www.optimalpros.com/'
				target='_blank'
			>
				<img
					src='https://www.optimalpros.com/images/Copy-of-Optimal.png'
					alt='Optimal Pros'
				/>
			</a>
		</div>

		<div class='gh-author-name-list'>
			<h4 class='gh-author-name'>
				<a href='https://www.optimalpros.com/' target='_blank'>Optimal Pros</a>
			</h4>
		</div>

		<div class='gh-article-meta'>
			<div class='gh-article-meta-inner'>
				<time
					class='gh-article-date'
					datetime='{{date format='YYYY-MM-DD'}}'
				>{{date}}</time>
				{{#if reading_time}}
					<span class='gh-article-meta-sep'></span>
					<span class='gh-article-length'>{{reading_time
							minute='1 min'
							minutes='% min'
						}}</span>
				{{/if}}
			</div>
		</div>

	</aside>
{{/is}}